/* Caso queira utilizar framework como Bootstrap para estilização, pode utilizar. Basta ignoar esse arquivo */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}

header {
    background-color: #1e1b4b;
    color: #f3f3ff;
    text-align: center;
    padding: 2rem 1rem;
}

main {
    width: 80%;
    margin: 2rem auto;
}

section {
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
}

section h2 {
    margin-top: 0;
    color: #1e1b4b;
}

#dashboard {
    text-align: center;
}

#dashboard h2 {
    color: #1e1b4b;
}

#total-itens {
    font-size: 24px;
    font-weight: bold;
    color: #1e1b4b;
}

#cadastrar-Produto {
    background-color: #9bb7d4;
    border-radius: 20px;
    text-align: center;
}

#cadastrar-Produto h2 {
    margin: 0;
    color: #1e1b4b;
}

.campos {
    border-radius: 8px;
    padding: 1rem;
    flex: 1 1 200px;
}

.campos h3 {
    color: #1e1b4b;
    margin: 5px;
}

input {
    padding: 8px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#btn-cadastrar {
    background-color: #1e1b4b;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}

#btn-cadastrar:hover {
    background-color: #312e81;
}

#controle-estoque {
    display: flex;
    gap: 20px;
}

#busca-material,
#retirar-quantidade {
    flex: 1;
}

#busca-material h2,
#retirar-quantidade h2 {
    margin-top: 0;
    margin-bottom: 15px;
}

#retirar-quantidade .campos {
    margin: 0;
    padding: 0;
}

#input-busca,
#input-retirada {
    width: 250px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #1e1b4b;
    color: white;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.btn-baixar {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-excluir {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.estoque-critico {
    background-color: #ffb3b3;
    color: #8b0000;
    font-weight: bold;
}